.header__tabs {
  position: absolute;
  display: flex;
  top: 7vh;
  max-width: 350px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  opacity: 0.3;
  transition: all 0.3s ease-in-out;

  @media (max-width: 390px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
    top: 0;
  }

  &:hover {
    top: 5vh;
    opacity: 1;
  }

  .header__tab {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 3px;
    width: 50px;
    background-color:rgba(41, 47, 56, 0.7);;
    margin: 0 1px;
    border-radius: 7px 7px 0px 0px;
    transition: all 0.3s ease-in-out;

    &:hover {
      top: 3vh;
      opacity: 1;
    }
    
    img {
    margin: 10px;
    zoom: 0.7;
    }

    p {
      display: none;
    }
  }
}



  


